.ad-card {
    padding: 0px 0px;
    margin: 16px 10px;
    width: 250px;
    height: 400px;
}

.text-container {
    padding: 5px 0px 16px 16px;
}

.ad-title {
    font-size: 1.1em;
    font-weight: 650;
}

.ad-description {
    font-size: 1em;
    font-weight: 400;
}

.ad-price {
    color: #555;
    font-weight: bold;
}

.ad-location {
    font-size: 0.9em;
    color: #777;
}

.ad-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin-bottom: 12px;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
}

.price-fav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite-icon {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease;
}

.favorite-icon:hover {
    transform: scale(1.2);
}

.heart-icon {
    font-size: 15px;
    color: gray;
}

.heart-icon.active {
    color: red;
}