.profile-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-buttons {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tab-button {
    padding: 12px 20px;
    background: none;
    border: none;
    font-size: 16px;
    color: black;
    cursor: pointer;
    position: relative;
}

.tab-button.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: black;
    /* черная линия под активной */
}

.tab-button.active {
    font-weight: bold;
}

.tab-content {
    width: 100%;
}

.my-ads-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    width: 100%;
}

.h1-btn {
    display: flex;
    gap: 35px;
}

.h1-btn button {
    background-color: black;
    color: white;
    border: none;
    width: 200px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}