.profileCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding: 20px;
    background: white;
}

.leftSection {
    display: flex;
    gap: 16px;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 999px;
    object-fit: cover;
    border: 2px solid #ccc;
}

.userInfo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.userStatsRow {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 8px 0;
}

.userStatsRow .icon {
    margin-right: 4px;
    color: #666;
}

.location,
.rating,
.followers,
.following {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: #555;
}

.registered,
.transactions {
    font-size: 0.85rem;
    color: #888;
}

.rightSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profileBtn {
    background-color: #fff;
    border: none;
    padding: 10px 16px;
    font-size: 0.95rem;
    border: solid 1px;
    border-color: rgb(163, 163, 163);
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profileBtn:hover {
    border-color: black;
}

.centerSection {
    display: flex;
    gap: 20px;
}